In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('covid19.csv')
df.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa

In [10]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

In [6]:
df.isnull().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

In [23]:
df.isnull().mean()*100

Province/State    70.114943
Country/Region     0.000000
Lat                0.000000
Long               0.000000
Date               0.000000
Confirmed          0.000000
Deaths             0.000000
Recovered          0.000000
Active             0.000000
WHO Region         0.000000
dtype: float64

In [26]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [29]:
df.drop(columns=['Lat','Long'],inplace=True)
df

,Country/Region,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,2020-01-22,0,0,0,0,Europe
2,Algeria,2020-01-22,0,0,0,0,Africa
3,Andorra,2020-01-22,0,0,0,0,Europe
4,Angola,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,2020-07-27,505,12,128,365,Africa

In [27]:
df.drop(columns=['Province/State'],inplace=True)

In [28]:
df

,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [7]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49063    False
49064    False
49065    False
49066    False
49067    False
Length: 49068, dtype: bool

In [8]:
df.Deaths.value_counts()

0         20167
1          3235
2          1933
3          1859
6          1241
          ...
505           1
4534          1
7564          1
33072         1
148011        1
Name: Deaths, Length: 3640, dtype: int64

In [14]:
df.Confirmed

0           0
1           0
2           0
3           0
4           0
         ...
49063     865
49064    1691
49065     354
49066    7235
49067     505
Name: Confirmed, Length: 49068, dtype: int64

In [15]:
df.max()

Country/Region           Zimbabwe
Lat                       71.7069
Long                      178.065
Date                   2020-07-27
Confirmed                 4290259
Deaths                     148011
Recovered                 1846641
Active                    2816444
WHO Region        Western Pacific
dtype: object

In [16]:
df.min()

Country/Region    Afghanistan
Lat                  -51.7963
Long                   -135.0
Date               2020-01-22
Confirmed                   0
Deaths                      0
Recovered                   0
Active                    -14
WHO Region             Africa
dtype: object

In [17]:
df.loc[500:1000]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
500,NaN,Mali,17.570692,-3.996166,2020-01-23,0,0,0,0,Africa
501,NaN,Saint Kitts and Nevis,17.357822,-62.782998,2020-01-23,0,0,0,0,Americas
502,Northwest Territories,Canada,64.825500,-124.845700,2020-01-23,0,0,0,0,Americas
503,Yukon,Canada,64.282300,-135.000000,2020-01-23,0,0,0,0,Americas
504,NaN,Kosovo,42.602636,20.902977,2020-01-23,0,0,0,0,Europe
...,...,...,...,...,...,...,...,...,...,...
996,NaN,Ukraine,48.379400,31.165600,2020-01-25,0,0,0,0,Europe
997,NaN,United Arab Emirates,23.424076,53.847818,2020-01-25,0,0,0,0,Eastern Mediterranean
998,Bermuda,United Kingdom,32.307800,-64.750500,2020-01-25,0,0,0,0,Europe
999,Cayman Islands,United Kingdom,19.313300,-81.254600,2020-01-25,0,0,0,0,Europe
1000,Channel Islands,United Kingdom,49.372300,-2.364400,2020-01-25,0,0,0,0,Europe

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  49068 non-null  object
 1   Date            49068 non-null  object
 2   Confirmed       49068 non-null  int64
 3   Deaths          49068 non-null  int64
 4   Recovered       49068 non-null  int64
 5   Active          49068 non-null  int64
 6   WHO Region      49068 non-null  object
dtypes: int64(4), object(3)
memory usage: 2.6+ MB

In [31]:
df.Date=pd.to_datetime(df.Date)

In [32]:
df

,Country/Region,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean
1,Albania,2020-01-22,0,0,0,0,Europe
2,Algeria,2020-01-22,0,0,0,0,Africa
3,Andorra,2020-01-22,0,0,0,0,Europe
4,Angola,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,Comoros,2020-07-27,354,7,328,19,Africa
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe
49067,Lesotho,2020-07-27,505,12,128,365,Africa

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  49068 non-null  object
 1   Date            49068 non-null  datetime64[ns]
 2   Confirmed       49068 non-null  int64
 3   Deaths          49068 non-null  int64
 4   Recovered       49068 non-null  int64
 5   Active          49068 non-null  int64
 6   WHO Region      49068 non-null  object
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 2.6+ MB

In [34]:
df['year']=pd.DatetimeIndex(df.Date).year

In [35]:
df

,Country/Region,Date,Confirmed,Deaths,Recovered,Active,WHO Region,year
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean,2020
1,Albania,2020-01-22,0,0,0,0,Europe,2020
2,Algeria,2020-01-22,0,0,0,0,Africa,2020
3,Andorra,2020-01-22,0,0,0,0,Europe,2020
4,Angola,2020-01-22,0,0,0,0,Africa,2020
...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa,2020
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020
49065,Comoros,2020-07-27,354,7,328,19,Africa,2020
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe,2020
49067,Lesotho,2020-07-27,505,12,128,365,Africa,2020

In [36]:
df['month']=pd.DatetimeIndex(df.Date).month

In [37]:
df

,Country/Region,Date,Confirmed,Deaths,Recovered,Active,WHO Region,year,month
0,Afghanistan,2020-01-22,0,0,0,0,Eastern Mediterranean,2020,1
1,Albania,2020-01-22,0,0,0,0,Europe,2020,1
2,Algeria,2020-01-22,0,0,0,0,Africa,2020,1
3,Andorra,2020-01-22,0,0,0,0,Europe,2020,1
4,Angola,2020-01-22,0,0,0,0,Africa,2020,1
...,...,...,...,...,...,...,...,...,...
49063,Sao Tome and Principe,2020-07-27,865,14,734,117,Africa,2020,7
49064,Yemen,2020-07-27,1691,483,833,375,Eastern Mediterranean,2020,7
49065,Comoros,2020-07-27,354,7,328,19,Africa,2020,7
49066,Tajikistan,2020-07-27,7235,60,6028,1147,Europe,2020,7
49067,Lesotho,2020-07-27,505,12,128,365,Africa,2020,7

In [38]:
df['day']=pd.DatetimeIndex(df.Date).day

In [6]:
df

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country/Region  49068 non-null  object
 1   Date            49068 non-null  datetime64[ns]
 2   Confirmed       49068 non-null  int64
 3   Deaths          49068 non-null  int64
 4   Recovered       49068 non-null  int64
 5   Active          49068 non-null  int64
 6   WHO Region      49068 non-null  object
 7   year            49068 non-null  int64
 8   month           49068 non-null  int64
 9   day             49068 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(2)
memory usage: 3.7+ MB

In [5]:
df.month.replace({
    1:'january',
    2:'february',
    3:'march',
    4:'april',
    5:'may',
    6:'june',
    7:'july',
    8:'august',
    9:'september',
    10:'october',
    11:'november',
    12:'december'
},inplace=True
)

AttributeError: 'DataFrame' object has no attribute 'month'

### rename column country/region to region